.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 30%;
    list-style-type: none;
}

.nav-link2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}